@{
    ViewBag.Title = "YPA";
}

<div class="logo">
    <img src="~/logo.png"/>
</div>

<div class="row">
       <input id="userEmail" type="text" /><br />
       <input id="password" type="password" /><br />
        <button id="loginButton" class="btn btn-default" ng-click="Login(userEmail,password)">Login</button> 
</div>